.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    padding: 50px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}